{% extends 'base.html' %}

{% block content %}
<h2>Update Movie</h2>

<!-- Form to update the movie -->
<form action="{{ url_for('movies.update_movie', movie_id=movie.movie_id) }}" class="row g-3 align-items-center mb-4" method="POST">
    <div class="col-auto">
        <input class="form-control" name="title" value="{{ movie.title }}" placeholder="Movie Title" required type="text">
    </div>
    <div class="col-auto">
        <input class="form-control" name="release_year" value="{{ movie.release_year }}" placeholder="Release Year" required type="number" min="1888" max="{{ current_year }}">
    </div>
    <div class="col-auto">
        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Select Genres
            </button>
            <ul class="dropdown-menu">
                {% for genre in all_genres %}
                    <li class="ps-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="genres" value="{{ genre.genre_id }}" id="genre{{ genre.genre_id }}"
                                {% if genre.genre_id in selected_genres %}checked{% endif %}>
                            <label class="form-check-label" for="genre{{ genre.genre_id }}">
                                {{ genre.genre_name }}
                            </label>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-auto">
        <button class="btn btn-primary" type="submit">Update Movie</button>
    </div>
</form>
{% endblock %}
